html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

.containerFlex{
    display: flex;
    flex-direction: row;
    width: 80%;
}
        
body > div
{
    
    margin:121px 149px;
    
    width:483px;
    height:298px;
    
    background:#4d3c61;
    color:#fff;
    
    font-family:Lato;
    font-weight:900;
    font-size:3.4em;
    
    text-align:center;
    line-height:298px;
    
    transition:all 0.3s ease;
    
}

.border:hover
{
    box-shadow: inset 0 0 0 25px #53a7ea;

}

